alabaster==0.7.12
allure-pytest==2.8.29
allure-python-commons==2.8.29
apipkg==1.5
Appium-Python-Client==1.0.2
asgiref==3.3.0
atomicwrites==1.4.0
attrs==20.2.0
Babel==2.9.0
binarytree==5.1.0
bleach==3.2.1
blinker==1.4
Brotli==1.0.7
certifi==2020.6.20
cffi==1.14.2
chardet==3.0.4
chevron==0.13.1
click==7.1.2
colorama==0.4.4
cryptography==2.9.2
cx-Oracle==8.0.1
Cython==0.29.21
decorator==4.4.2
docopt==0.6.2
docutils==0.16
execnet==1.7.1
Flask==1.1.2
frida==14.0.5
frida-tools==8.2.0
h11==0.11.0
h2==4.0.0
hpack==4.0.0
hyperframe==6.0.0
idna==2.10
imagesize==1.2.0
importlib-metadata==2.0.0
inflect==4.1.0
iniconfig==1.1.1
itsdangerous==1.1.0
Jinja2==2.11.2
jmespath==0.10.0
jsonpath==0.82
jsonpath-rw==1.4.0
jsonpath-rw-ext==1.2.2
kaitaistruct==0.9
keyring==21.4.0
ldap3==2.8.1
MarkupSafe==1.1.1
mitmproxy==5.3.0
more-itertools==8.6.0
msgpack==1.0.0
numpy==1.19.4
packaging==20.4
pandas==1.1.2
passlib==1.7.4
pbr==5.5.1
pipreqs==0.4.10
pkginfo==1.6.1
pluggy==0.13.1
ply==3.11
prompt-toolkit==3.0.8
protobuf==3.13.0
publicsuffix2==2.20191221
py==1.9.0
pyasn1==0.4.8
pycparser==2.20
pydivert==2.1.0
Pygments==2.6.1
PyMySQL==0.10.1
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyperclip==1.8.0
pyserial==3.4
pytest==6.2.1
pytest-forked==1.3.0
pytest-ordering==0.6
pytest-rerunfailures==9.1.1
pytest-xdist==2.1.0
python-dateutil==2.8.1
pytz==2020.1
pywin32-ctypes==0.2.0
PyYAML==5.3.1
readme-renderer==26.0
regex==2020.9.27
requests==2.24.0
requests-toolbelt==0.9.1
rfc3986==1.4.0
ruamel.yaml==0.16.10
ruamel.yaml.clib==0.2.0
selenium==3.141.0
six==1.15.0
snowballstemmer==2.0.0
sortedcontainers==2.1.0
Sphinx==3.4.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sqlacodegen==2.3.0
SQLAlchemy==1.3.19
toml==0.10.1
tornado==6.0.4
tqdm==4.48.2
twine==3.2.0
urllib3==1.25.10
urwid==2.1.2
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==0.57.0
Werkzeug==1.0.1
wsproto==0.15.0
xlrd==1.2.0
xmltodict==0.12.0
yarg==0.1.9
zipp==3.4.0
zstandard==0.14.0
